    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What We Do</h2>
                <p>The Sophia Project is part of a nationwide action initiative designed to empower students to take charge of their own education.</p>
                <h4>face the challenges of living & working in the 21st century</h4>
                <p>Come together with students of all ages and majors to find out what the teaching and learning scholars already know about your college experience;<br> <strong>it’s not enough to just get a degree anymore.</strong></p>
                <h4>Learn the Behind the Scenes of College</h4>
                <p>Through a process of lessons, discussion, and the careful guidance of mentors, TSP helps students expand their perspective on college and beyond. We help passionate students develop intellectual flexibility, encounter new perspectives, and connect with new people and opportunities.</p>
                <p>Our goal is to empower students to embrace their passion and potential on a deeper level by exciting curiosity, encouraging exposure to new ideas, and sparking engagement in a contemporary world.</p>
            </div>
        </div>
    </section>
