    <!-- Meetings Section -->
    <section id="meetings" class="content-section text-center">
        <div class="meetings-section">
            <div class="container meetings-container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="meetings-header">Meetings</h2>
                    <p>For the Fall 2017 semester, TSP is meeting roughly every other Thursday. The meeting times are:</p>
                    <ul class="meetings-list">
                      <li>September 21, 2017: Kick Off Meeting</li>
                      <li>October 5, 2017: Dreaming</li>
                      <li>October 19, 2017: Thinking about your education</li>
                      <li>November 2, 2017: LEAP</li>
                      <li>November 16, 2017: Curiosity</li>
                      <li>November 30, 2017: Exposure</li>
                      <li>December 7, 2017: So what now?</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
