    <!-- Mentors Section -->
    <section id="mentors" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Mentors</h2>
            </div>
              <div class="col-sm-4 col-xs-12">
                  <h4>Lauren Williams</h4>
                  <img src="{{ site.baseurl }}/img/lauren.jpg" class="img-responsive img-rounded">
                  <p class="text-justify"><small>Lauren is a Philosophy major at Eastern Michigan University. She enjoys TSP because of the networking opportunities, personal and professional growth it has incited, and the ability to make a difference. Her research interests include philosophy of science and logic.<small></p>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <h4>Taylor Chase</h4>
                  <img src="{{ site.baseurl }}/img/taylor.jpg" class="img-responsive img-rounded">
                  <p class="text-justify"><small>Taylor is a junior majoring in political science and minoring in psychology and philosophy. She is interested in research involving campaigns and elections and feels that The Sophia Project is a great way to make new friends and improve your educational experience.<small></p>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <h4>Natalie Anderson</h4>
                  <img src="{{ site.baseurl }}/img/natalie.jpg" class="img-responsive img-rounded">
                  <p class="text-justify"><small>(Mentor in Training) Natalie is a sophomore at Eastern Michigan University. She is currently studying Elementary education with minors in math and science for elementary teachers and also major/minor in Philosophy. She loves TSP because of the people that she has met through the group. Her research interests include philosophy of education as well as various other philosophical topics.<small></p>
              </div>
              </div>
            </div>
              <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                  <h4>Catrina Whitton</h4>
                  <img src="{{ site.baseurl }}/img/catrina.jpg" class="img-responsive img-rounded">
                  <p class="text-justify"><small>Catrina is a Third Year student here at Eastern Michigan University. She is studying Interdisciplinary Environmental Science and Society, with a focus on Society, and a Minor in Earth Science. She is interested in topics involving the concepts of waste, and resource use, especially as it pertains to how humans view and use their environment. She is happy to be a part of the TSP mentoring team, because she has found that the concepts TSP outlines, have been especially helpful and important to her own progress and success a undergraduate student. She hopes to benefit others through the utilization of those same concepts as a TSP mentor.<small></p>
              </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <h4>Katherine Valek</h4>
                  <img src="{{ site.baseurl }}/img/katherine.jpg" class="img-responsive img-rounded">
                  <p class="text-justify"><small>Katherine is a senior here at EMU. She is a level IV nursing student, and will be graduating in December 2017. She joined TSP last year, after receiving an email from the Honors College inviting her to apply. Since then, she has grown into a mentor in TSP, meaning she helps plan lessons, and is also here to support other TSP members. She is currently finishing up some original research to add to her nearly completed senior thesis, which she will be submitting prior to graduation. Undergraduate research really interests her – she even presented at the Spring 2017 Undergraduate Symposium! She’s happy to help out however she can, so please, don’t hesitate to reach out! She looks forward to meeting our newest TSP members soon.<small></p>
              </div>
            </div>
        </div>
    </section>
